[user]
	name = Kiyeo
	email = leojkeo@users.noreply.github.com
[credential]
	helper = manager-core
	helper = 
	helper = /usr/bin/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
