[user]
	name = kiyeo
	email = 52591219+kiyeo@users.noreply.github.com
[credential]
  credentialStore = cache
  helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
