[user]
	name = kiyeo
	email = 52591219+kiyeo@users.noreply.github.com
[credential]
	helper = manager-core
	helper = /usr/bin/git-credential-manager-core
	credentialStore = cache
[credential "https://dev.azure.com"]
	useHttpPath = true
